:root {
  --light-mode-text: hsl(0, 0%, 10%);
  --light-mode-back: hsl(0, 0%, 99.5%);
  --dark-mode-text: hsl(0, 0%, 95%);
  --dark-mode-back: hsl(0, 0%, 14.5%);
}

@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../res/fonts/Inter-Bold.woff2") format("woff2"),
    url("../res/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Garamond";
  font-style: normal;
  font-display: swap;
  src: url("../res/fonts/Eb-Garamond.woff2") format("woff2"),
    url("../res/fonts/Eb-Garamond.woff") format("woff");
}

@font-face {
  font-family: "Hoefler Text";
  font-style: normal;
  font-display: swap;
  src: url("../res/fonts/Hoefler Text.ttf") format("truetype");
}

body.light-mode {
  background-color: var(--light-mode-back);
  color: var(--light-mode-text);
}

body.dark-mode {
  background-color: var(--dark-mode-back);
  color: var(--dark-mode-text);
}

#wrapper {
  max-width: 42em;
  font-size: 1.05em;
  font-family: "Hoefler Text", "Garamond", "Times New Roman", serif;
  padding: 0 25px 0 25px;
  margin: 0 auto;
}

.title {
  font-family: "Inter-Bold", "Arial", sans-serif;
  font-size: 1.5em;
  margin-top: 25px;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.listicle {
  margin-bottom: 7.5px;
}

.list {
  margin-top: 7.5px;
  padding-left: 30px;
}

.twitter {
  color: #2e91fd;
}

.medium {
  color: #e95ea7;
}

.sngular {
  color: #d32c3b;
}

.stack {
  color: #28a745;
}

.dominion {
  color: #00adc8;
}

.linkedin {
  color: #de6037;
}

.github {
  color: #8e47f9;
}

.instagram {
  color: #b9b945;
}

.goodbye {
  color: inherit;
}

.modeChanger {
  float: right;
  cursor: pointer;
}

/* //////////////// MEDIA QUERIES ////////////////// */

/* Extra small devices (portrait phones, less than 576px) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
